
a{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.header{
    width:100%;
    height:40px;
    line-height:40px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.header a:hover{
    text-decoration: none;
    color: #828282;
}
.header a {
    color: #828282;
    font-size:12px;
}
.right_h {
    float: right;
}
.right_h span:last-child{
    font-size: 16px;
}

/*导航*/
.nav {
    width:100%;
    height:90px;
    line-height:90px;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 3px 14px #ccc;
    /*background-color: pink;*/
}
.nav .log{
    position: absolute;
    left:0;
    /*top:20px;*/
}
.nav ul{
    position: absolute;
    left:200px;
}
.nav ul li.fir{
    float: left;
    padding: 0 16px;
    position: relative;
    text-align: center;
    width:100px;
    /*background: ;*/
}



.nav ul li ul {
    /*display: none;*/
    opacity:0;
    position: relative;
    top:-2px;
    left:-24px;
}
.nav ul li.fir ul li {
    /*width: 120px;*/
    width:150px;
    padding: 0 16px;
    overflow: hidden;
    height:40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;

}
.nav ul li.fir:nth-child(2n){
    width: 5px;
}
.nav ul li ul li a {
    /*color: #333;*/
    /*font-size: 16px;*/
}

.nav ul li a {
    color: #555555;
    font-size: 16px;
    /*padding: 0 16px;*/
    /*display: inline-block;*/
}
.nav ul li a:hover{
    text-decoration: none;
    color: #58954e;
}
.nav ul.nav_first li span {
    width:1px;
    background-color: #c3c2c2;
    height:20px;
    display: inline-block;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
    vertical-align: middle;
}
.nav .line{
    position: absolute;
    width:1px;
    height:60px;
    left:180px;
    top:15px;
    background-color: #ccc;
}
.nav .right_nav{
    position: absolute;
    right:0;
}
.nav .right_nav a{}
.nav .right_nav a:hover{
    text-decoration: none;
}
.nav .right_nav a img{}
/*隐藏*/
.hide_pro {
    width:100%;
    /*height:440px;*/
    background-color: #fff;
    position: absolute;
    z-index:100;
    /*top:-20px;*/
    top:115px;
}
.product_two {
}
.product_two p {
    margin-top: 20px;
}
.hide_pro .line {
    width:100%;
    height:2px;
    background-color: #eeeae3;
    margin-bottom: 50px;
}
.nav .hide_pro ul {
    width:100%;
}
.hide_pro ul li{
    width:280px;
    height:140px;
    float: left;
}
.hide_pro ul li img{
    width:100px;
    max-height: 100px;
    float: left;
}
.hide_pro ul li .bottom_line{
    width:100%;
    height:1px;
    background-color: #eeeae3;
    margin-top: 80px;
}
.hide_pro ul li a:nth-child(2) {
    color: #555555;
    font-size:14px;
}
.hide_pro .news {
    width:100%;
    margin-top: 30px;
}
.hide_pro .news p{
    font-size:20px;
    color: #58954e;
}
.hide_pro .news a{
    color: #58954e;
    font-size:14px;
    display: block;
    margin-bottom: 30px;
}
.hide_pro .news a i{
    color: #58954e;
    font-size:16px;
}
/*遮挡层*/
/*html{*/
    /*height:100%;*/
/*}*/
.hide_zd {
    position: absolute;
    top:115px;
    left:0;
    z-index:99;
    width:100%;
    /*height:100%;*/
    background-color: rgba(0,0,0,.7);
}

.footer {
    width:100%;
    height:480px;
    background-color: #f1eee8;
    position: relative;
}
.footer .green {
    position: absolute;
    width:100%;
    height:180px;
    background: url("../images/green_53.png") no-repeat;
    top:50px;
}
.footer .green p.phone{
    font-size: 22px;
    color: #fff;
}
.footer .green p.phone_code{
    margin-top: 10px;
    font-size: 23px;
    color: #fff;
    font-family:Arial;
}
.footer .green span {
    width:1px;
    height:60px;
    display: block;
    background-color: #fff;
    transform: rotate(30deg);
    -ms-transform:rotate(30deg); 	/* IE 9 */
    -moz-transform:rotate(30deg); 	/* Firefox */
    -webkit-transform:rotate(30deg); /* Safari 和 Chrome */
    -o-transform:rotate(30deg);
    position: absolute;
    left:50%;
    top:60px;
}
.footer .green .left {
    position: absolute;
    left:0;
    top:45px;
}
.footer .green .right{
    position: absolute;
    right:27%;
    top:60px;
    font-size:18px;
    color: #fff;
}
.footer .green .right a {
    color: #fff;
    font-size:14px;
}
.footer .green .right a:hover {
    text-decoration: none;
}

.footer .list{
    width:100%;
    height:200px;
    position: absolute;
    top:225px;

}
.footer .list dl{
    width:30%;
    float: left;
    margin-top: 40px;
}
.footer .list dl:nth-child(2){
    width:36%;
}
.footer .list dl dt{
    width:30%;
    color: #4c4c4b;
    /*height:60px;*/
    /*float: left;*/
    font-size:16px;
    /*font-weight:700;*/
}
.footer .list dl dd {

    height:40px;
    line-height:40px;
    color: #333;
    font-size: 14px;
}
.footer .list dl dd span {
    color: #58954e;
    font-size:18px;
    cursor: pointer;
    /*margin-top: 10px;*/
}
.footer .vision {
    position: absolute;
    bottom:0;
    width:100%;
    background-color: #fff;
    height:55px;
    line-height:55px;
}
.footer .vision p {
    font-size:14px;
    margin-top: 10px;
}
.footer .vision a{
    position: absolute;
    right:0;
    top:8px;
}