a{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.head_name {
    width:100%;
    /* height:280px; */
    /*height:620px;*/
    background-color: #fff;

}
.head_name .path {
    margin-top: 40px;
}
.head_name .path a {
    font-size: 12px;
    color: #494949;
}
.head_name .title {
    font-size: 46px;
    color: #539248;
    margin-top: 50px;
    font-family: "ו";
}
.head_name .name {
    margin-top: 30px;
    font-size:16px;
    color: #6e6e6e;
}
.book_list ul {
    width:900px;
    margin-top: 30px;
    margin-bottom: 150px;
}
.book_list ul li{
    /*width: ;*/
    float: left;
    width:400px;
    margin-bottom: 10px;
    /*margin-right: 220px;*/
}
.book_list ul li img {
    width:18px;
    height:18px;
}
.book_list ul li a {
    font-size: 16px;
    color: #6e6e6e;
}